.grad{
    margin: 0;
    width: 800px;
    height:500px ;
    background-image: linear-gradient(to top, rgb(34, 112, 148, 1) 25%,rgba(221, 221, 93, 0.6),  rgba(54, 194, 54, 0.8) 25%);
    position: relative;
    
}


/* .grad_rect{
    width: 80%;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 10%;
    background-image: linear-gradient(rgba(25, 187, 216, 0.52), white );
    border-radius: 5px 10px;
} */